<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Carga de Archivo</title>
</head>
<body>
    <h1>Cargar archivo de datos</h1>
    <form action="/process_data" method="post" enctype="multipart/form-data">
        <label for="archivo_csv">Seleccione un archivo CSV:</label>
        <input type="file" name="archivo_csv" id="archivo_csv"><br><br>
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" name="fecha_inicio" id="fecha_inicio"><br><br>
        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" name="fecha_fin" id="fecha_fin"><br><br>
        <input type="submit" value="Procesar Datos">
    </form>
</body>
</html>


